body {
    margin: 0 auto; 
    background-color:grey;
    text-align: center;
    width: 90%
}

#header {
    padding: 35px;
    margin: 25px;
    background-color: white;    
}

#nav {
    padding: 35px;
    margin: 25px;
    background-color: white;
}

#container {
    height: 300px; 
    margin: 0 auto;
    margin: 25px;
    background-color: blue;        
}

.section {
    width: 35%;
    height: 36%;
    padding: 30px;   
    background-color: white;
    position: absolute;
    left: 75px;
}

.article {
    padding: 15px;
    height: 85%;
    background-color: green;
}

.headings {
    padding: 15px;
    margin: 25px;
    font-weight: bold;
    background-color: white;
}

.p {
    padding: 15px;
    margin: 25px;
    background-color: white;

}

.aside {
    width: 35%;  
    height: 36%;
    padding: 30px;
    background-color: white;
    position: absolute;
    right: 75px;
    }

#footer {
    padding: 35px;
    margin: 25px;
    background-color: white;
    height: 30px;   
    
}